@{
    ViewBag.Title = "GetInTouch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Get In Touch</h2>
<div class="form-container">
    <div class="text">
        <p>Accumsan orci faucibus id eu lorem semper. Eu ac iaculis ac nunc nisi lo.</p>
    </div>
    <div class="wrap-message">
        <input class="input-name" placeholder="Name" />
        <input class="input-email" placeholder="Email" />
        <textarea class="input-message" placeholder="Message"></textarea>
        <input type="submit" value="Submit">
    </div>
    <div class="contact">
        <p> email: anastasya.ermoshina@gmail.com</p>
        <p> Belarus, Minsk</p>
    </div>
</div>