
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.UserName</h2>
<h2>Soundville is an internet radio created by your mood.</h2>
<h2>Create your own music station and share music with your friends!</h2>

