@model Soundville.Presentation.Models.Profile.ProfileEditModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-container">
    @using (Html.BeginForm("Edit", "Profile", FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
    {
        <h3 class="text-center">Complete Your Profile</h3>
        <hr/>
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <h3>Basic Info</h3>

        @Html.TextBoxFor(m => m.Name, new { @class = "one-fulls", placeholder = "Name" })

        @Html.TextBoxFor(m => m.Email, new { @class = "one-fulls", placeholder = "Email" })
        <hr/>
        <h3>Photo</h3>
        <div class="photo">
            <input type="file" name="@Html.NameFor(m => m.Image)" />
        </div>
        <input type="submit" value="Save" />
    }
</div>
