<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title | Soundville</title>
    <link href="~/Content/Site.css" rel="stylesheet"/>
</head>
<body>
    <div class="page-wrapper">
        <div class="header">
        </div>
        <div class="left-column">
            <div class="wrap-avatar">
                <img src="" />
            </div>
            <h3> Hey there!</h3>
        </div>
        <div class="right-column">
            @RenderBody()
        </div>
    </div>
</body>
</html>
