<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title | Soundville</title>
    <link href="~/Content/Reset.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet"/>
    <link href="~/Content/Menu.css" rel="stylesheet"/>
</head>
<body>
    <div class="page-wrapper">
        <div class="left-column">
            <div class="wrap-avatar">
                <img class="avatar" alt=""/>
                <h3> Hey there!</h3>
            </div>
        </div>
        <div class="right-column">
            <div class="header">
                @Html.Partial("_MenuPartial")
            </div>
            <div class="content">
                @RenderBody()
            </div>
            <hr/>
            <footer>
                <p>&copy; 2015 - Soundville</p>
            </footer>
        </div>
    </div>
</body>
</html>
