<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title | Soundville</title>
    <link href="~/Content/Reset.css" rel="stylesheet" />
    <link href="~/Content/Login.css" rel="stylesheet" />
</head>
<body>
    @RenderBody();
</body>
</html>
