@model Soundville.Presentation.Models.Stations.MyStationsModel

@{
    ViewBag.Title = "My Stations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-container">

    @{
        foreach (var station in Model.Stations)
        {
            <div class="wrap-station">
                <div class="station-info">
                    @{
                        string imageSrc;
                        if (station.ImageFileName != null)
                        {
                            imageSrc = ViewBag.PartialImageUrl + station.ImageFileName;
                        }
                        else
                        {
                            imageSrc = @ViewBag.DefaultImageSrc;
                        }
                    }
                    <img class="station-avatar" src=@imageSrc alt="" />
                    <h3 class="station-name">@station.Name</h3>
                </div>
                <div class="buttons">
                    <a class="button" href="@Url.Action("ViewStation", "Station", new {id = station.Id})">Go to station</a>
                </div>
            </div>
            <hr />
        }
    }

</div>

