@model Soundville.Presentation.Models.Stations.StationListModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-container">

    @{
        foreach (var station in Model.Stations)
        {
            <div class="wrap-station">
                <div class="station-info">
                    @{
            string imageSrc;
            if (station.ImageFileName != null)
            {
                imageSrc = ViewBag.PartialImageUrl + station.ImageFileName;
            }
            else
            {
                imageSrc = @ViewBag.DefaultImageSrc;
            }
                    }
                    <img class="station-avatar" src=@imageSrc alt="" />
                    <a class="station-name" href="@Url.Action("ViewStation", "Station", new {id = station.Id})"><h3 class="search-station-name">@station.Name</h3></a>
                </div>
            </div>
            <hr />
        }
    }

</div>



